.converter {
    background-color: #ffffff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.converter__form {
    display: flex;
    flex-direction: column;
}

.converter__form__group {
    margin-bottom: 20px;
}

.converter__form__field {
    margin-bottom: 20px;
}

.converter__form__label {
    display: block;
    margin-bottom: 8px;
    color: #333;
    font-weight: 600;
}

.converter__form__input, 
.converter__form__select {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    transition: border-color 0.3s;
}

.converter__form__input:focus, 
.converter__form__select:focus {
    border-color: #156077; 
    outline: none;
}

.converter__form__button {
    margin-top: 10px;
    padding: 12px;
    border: none;
    border-radius: 5px;
    background-color: #156077; 
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.converter__form__button:hover {
    background-color: #007694;
    transform: translateY(-1px); 
}

/* Responsivo */
@media (max-width: 768px) {
    .converter {
        padding: 20px;
    }

    .converter__form__input, 
    .converter__form__select {
        font-size: 14px;
        padding: 10px;
    }

    .converter__form__button {
        font-size: 14px;
        padding: 10px;
    }
}

@media (max-width: 480px) {
    .converter__form__input, 
    .converter__form__select {
        font-size: 12px;
        padding: 8px;
    }

    .converter__form__button {
        font-size: 12px;
        padding: 8px;
    }
}
