@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@500&display=swap');  

:root {  
    --color-fondo: #62828b;  
    --color-contenedor: #ededed;  
    --color-texto: #3d3838;  
    --color-boton: #221d1d;  
    --color-boton-texto: #ededed;  
    --color-boton-hover: rgb(201, 197, 197);  
}  

* {  
    margin: 0;  
    padding: 0;  
    box-sizing: border-box;  
    font-family: "Outfit", sans-serif;  
}  

body {  
    height: 100vh;  
    width: 100%;  
    background-color: var(--color-fondo);  
    display: flex;  
    justify-content: center;  
    align-items: center;  
}  

.container {  
    max-width: 400px;  
    width: 100%;  
    background: var(--color-contenedor);  
    padding: 30px;  
    border-radius: 8px;  
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);  
}  

h2 {  
    color: var(--color-texto);  
    text-align: center;  
    margin-bottom: 20px;  
}  

.form-group {  
    margin-bottom: 20px;  
}  

label {  
    display: block;  
    margin-bottom: 8px;  
    color: var(--color-texto);  
    font-weight: 600;  
}  

input[type="text"],  
input[type="password"] {  
    width: 100%;  
    padding: 12px;  
    border: 1px solid #ccc;  
    border-radius: 4px;  
    font-size: 16px;  
    box-sizing: border-box;  
    transition: border-color 0.3s ease;  
}  

input[type="text"]:focus,  
input[type="password"]:focus {  
    border-color: var(--color-boton); 
    outline: none; 
}  

button {  
    background-color: var(--color-boton);  
    color: var(--color-boton-texto);  
    padding: 12px;  
    border: none;  
    border-radius: 4px;  
    cursor: pointer;  
    font-size: 16px;  
    width: 100%;  
    margin-top: 20px;  
    transition: background-color 0.3s ease;  
}  

button:hover {  
    background-color: var(--color-boton-hover); 
}  

.footer {  
    background-color: var(--color-contenedor);  
    color: var(--color-texto);  
    text-align: center;  
    padding: 15px;  
    margin-top: 20px;  
}  

.footer a {  
    color: var(--color-boton);  
    text-decoration: none;  
    transition: color 0.3s ease;  
}  

.footer a:hover {  
    color: var(--color-boton-hover);  
    text-decoration: underline; 
}  